<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='css/admin_index.css' type='text/css' media='all' />
        <title>SOEN 343 E-Commerce</title>
        <script src="Js/admin_index.js" ></script>
    <?php include("sign_in.php"); ?>
    </head>
    <!--
    <body>
           <div class="login-page">
                    <div class="form">
                        <form class="login-form" action="" method="post">
                            <input type="text" placeholder="Username" name="id"/>
                            <input type="password" placeholder="Password" name="password"/>
                            <input type="submit" value="Log In" name="submit">
                            <p class="message">Not registered? <a href="#">Create an account</a></p>
                        </form>
                    </div>
                </div>
    </body>
    -->
    
     <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="POST" action="sign_in.php">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                 <p class="message">Not registered? <a href="Register.html">Create an account</a></p>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
            
            
        </div><!-- /card-container -->
    </div><!-- /container -->
    
</html>    
    
